@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend+Deca:wght@100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #fdfbf7;
  font-family: "Instrument Sans";
  color: #57534e;
}
section {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.holder {
  display: flex;
  padding: 70px 50px 70px 50px;
  background-color: #f8f4ee;
  gap: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #4a3b3382;
}
.img-container {
  width: 500px;
  background-color: #f8f4ee;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #4a3b3382;
}
.p-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding-top: 20px;
}
.p-container input {
  margin-top: -10px;
}
.p-container button {
  margin-top: 20px;
}
.welcome-admin p {
  margin-top: -20px;
}

@media (max-width: 915px) {
  .img-container {
    display: none;
  }
  .holder {
    flex-direction: column;
  }
}
.logo {
  font-size: 32px;
  font-weight: 500;
  color: #e4c090;
}
.logo span {
  color: #b45309;
}
.p-container button {
  background-color: #b45309;
  border-radius: 10px;
  color: white;
  height: 43px;
  border: 1px solid gray;
  font-size: 15px;
  font-weight: 500;
}
