@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lexend+Deca:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.createacc-form {
  color: #443681;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f2f3f6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgb(187, 187, 219);
}
.createacc-form input,
.login-form input {
  width: 350px;
  height: 48px;
  border-radius: 20px;
  border: none;
  padding-left: 30px;
  background-color: #dad2ff;
  box-shadow: inset 0px 4px 4px rgb(187, 187, 219);
  font-size: 15px;
}
.createacc-form button,
.login-form button {
  margin-top: 50px;
  height: 41px;
  width: 157px;
  margin-left: 110px;
  background-color: #2546b1;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 4px 4px 0px rgb(187, 187, 219);
  transition: transform 1s ease;
}
.createacc-form h1,
.createacc-form a,
.login-form h1,
.login-form a {
  text-align: center;
}
.createacc-form h1 {
  font-size: 24px;
  background: linear-gradient(45deg, #504486, #2546b1);
  -webkit-background-clip: text;
  background-clip: text; /* future-proof */
  -webkit-text-fill-color: transparent;
}
.createacc-form label,
.login-form label {
  margin-left: 10px;
  font-weight: 500;
}
.admin-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -25px;
  background-color: #ffffff;
  width: 135px;
  padding-left: 20px;
  border-radius: 20px;
  font-size: 17px;
  box-shadow: 0px 4px 4px 0px rgb(187, 187, 219);
}
.admin-icon:hover {
  background-color: #443681;
  color: white;
}
#user-icon {
  font-size: 28 px;
}
.createacc-form button:hover {
  background-color: rgb(104, 225, 104);
  transform: translateY(-10px);
}
.login-form h1 {
  font-size: 24px;
  margin-bottom: 80px;
  background: linear-gradient(45deg, #504486, #2546b1);
  -webkit-background-clip: text;
  background-clip: text; /* future-proof */
  -webkit-text-fill-color: transparent;
}
.login-form {
  color: #443681;
  padding: 40px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f2f3f6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgb(187, 187, 219);
}
.navigation-container {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  gap: 800px;
}
.navigation-container div {
  background-color: #504486;
  display: flex;
  align-items: center;
  height: 44px;
  font-size: 16px;
  width: 125px;
  border-radius: 20px;
  padding-left: 20px;
  gap: 20px;
  box-shadow: 0px 4px 5px 0px rgb(187, 187, 219);
  background-color: white;
  color: #504486;
}
.navigation-container input {
  width: 382px;
  margin-left: 500px;
  height: 62px;
  border-radius: 20px;
  border: 1px solid #2546b1;
  background-color: #ededed;
  color: #7c63ea;
  padding-left: 35px;
  font-size: 15px;
}
.navigation-container input:focus {
  color: black;
  border: none;
}
.category-container {
  display: flex;
  justify-content: center;
}
.category-container ul {
  margin-top: 20px;
  display: flex;
  gap: 130px;
  list-style-type: none;
}
.categories li {
  background-color: #eae7fa;
  padding: 20px 80px 20px 80px;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 0px rgb(187, 187, 219);
  text-align: center;
  color: #2546b1;
  transition: background-color, 0.5s ease-in-out;
  font-weight: 600;
}
.categories li.active {
  background-color: #2546b1;
  color: rgb(213, 211, 211);
}

.categories li:not(.active):hover {
  background-color: #443681;
  color: white;
}

.book-container {
  margin-top: 60px;
  display: grid;
  grid-template-areas: "book1 book2 book3 book4";
  gap: 20px;
  padding: 0px 100px 0px 100px;
}
.me-btn FontAwesomeIcon {
  font-size: 20px;
}
.book-container h1 {
  text-align: center;
  color: #2546b1;
}
.book-container div {
  background-color: #d9d9d9;
  height: 400px;
  margin: 20px;
  border: 20px solid #eae7fa;
}
.navigation-container.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.navigation-container.fade.show {
  opacity: 1;
  transform: translateY(0);
}
.category-container.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.category-container.fade.show {
  opacity: 1;
  transform: translateY(0);
}
.book-container.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.book-container.fade.show {
  opacity: 1;
  transform: translateY(0);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 243, 249, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  opacity: 1;
  background-color: #ffffff;
  height: 819px;
  width: 582px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.book-details button {
  margin-left: 280px;
  width: 178px;
  height: 49px;
  border-radius: 20px;
  border: 1px solid rgb(129, 129, 208);
  background-color: #7c63ea;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.book-details button:hover {
  background-color: #433194;
}
.img-container {
  margin-top: 70px;
  width: 452px;
  height: 557px;
  background-color: #d9d9d9;
}
